---
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

---
Language: C
# Force pointers to the type for C.
DerivePointerAlignment: false
PointerAlignment: Left

---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
# Don't make a short function 1 line (for debugging)
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
IncludeBlocks: Regroup
PenaltyBreakBeforeFirstCallParameter: 1000000

---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100

---
Language: Proto
# Don't format .proto files.
DisableFormat: true

